.git
.gitignore
.github

Dockerfile
.dockerignore
docker-compose*.yml

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next
out
build
dist

.env
.env*.local

.vscode
.idea
*.md
!README.md

.DS_Store
Thumbs.db
